*{
    margin: 0px; 
    padding: 0px;
    font-family: 'Roboto';
}

.game-box{
    margin: 0px auto;
    display: block;
    width: 100%;
}
canvas{
    background-color: rgba(44, 42, 51, 1);
}

h1 {
    font-size: 5rem;
    color: rgba(20, 196, 255, 1);
}

h2{
    font-size: 2rem;
    color: white;
}


section{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    
}

body button, a {
    font-size: 10px;
    background-color: rgba(234, 28, 134, 1);
    color: white;
    padding: 20px 40px;
    border: 1px solid rgba(234, 28, 134, 1);
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}